.hero {
    &.has-background {
        /*要素の現在位置を基準に相対位置を指定*/
        position: relative;
        /*はみ出た部分を非表示にする*/
        overflow: hidden;
    }

    &-background {
        /*要素の絶対位置を指定*/
        position: absolute;
        /*画像のアスペクト比を維持したまま、ボックス全体を埋めるように表示*/
        object-fit: cover;
        /*下寄せ*/
        object-position: bottom;
        width: 100%;
        height: 100%;

        &.is-transparent {
            /*要素の透明度を指定(0.0が完全に透明)*/
            opacity: 0.3;
        }
    }
}


.burger {
    /*背景色を無効化*/
    background-color: transparent;
    /*ボーダー非表示*/
    border: none;
}

.navbar-brand {
    /*子要素を上下左右でそろえる*/
    align-items: center;
}